@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-gold-400: #e6c55d;
  --color-gold-500: #d4af37;
  --color-gold-600: #aa8c2c;
  --color-beige-50: #fbfbfa;
  --color-beige-100: #f5f5dc;
  --color-beige-200: #e8e8d0;
  --color-charcoal-800: #4a4a4a;
  --color-charcoal-900: #333333;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  @apply antialiased text-charcoal-900 bg-beige-50 font-sans;
}
